body {
  height: 100%;
  background: #f2f2f2;
}
div.ui.segment.header {
  background: #132747 !important;
  color: white !important;box-shadow: 5px 5px 10px #888888;
  border-radius: none !important;
}
div.ui.segment.footer {
  background: #1c2026 !important;
  color: white !important;
  border-radius: none !important;
  margin-top: 50px !important;
}
span {
  float: right;
}
a.link {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  padding: 10px;
}
a.link:hover {
  border-bottom: 1px solid white;
}